@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab&display=swap');
body{
    background-image: url("../images/form_main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    padding-top:3rem; 
  }
  h3{
    text-align: center;
    color: #000;
    font-family: Montserrat, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;  
    margin-bottom: 2.5rem;
  }
  .header{
    padding: 2vh 0;
    margin-top: 3vh;
    text-align: center;
    color: #FFE79B;
    /* font-style: italic; */
    font-family: 'Tilt Neon', sans-serif;
    }
    .header-two{
      padding: 2vh 0;
      margin-top: 1vh;
      text-align: center;
      color: #FFE79B;
      /* font-style: italic; */
      font-family: 'Tilt Neon', sans-serif;
      }
  #button-container{
    background-color: #9336B4;
    margin-bottom: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    justify-content: auto;
    
  }
  .form-container{
    background-color: #efe363;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-left: 3vh;
    margin:2vh 6vh;
    font-size: medium;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-family: 'PT Sans', sans-serif;
    padding-top: 2vh;
    border-radius:2vh;
  }

  .form-container input[type="text"] {
    width: 80%; 
}

.form-container textarea{
  width:80%;
}

  .pop-up{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #70d2f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-upload:hover {
    background-color: #9336B4; 
  }

  .btn{
    margin-bottom: 1rem;
  }