<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/edit.css')}}">
    <title>Document</title>
</head>
<body>
    <!-- write a form for adding new field details -->
    <h3>Add Field Details Here</h3>
    <div class="form-container">
        <form action="/field/create" method="post">
            <div class="mb-3 row">
                <label for="name" class="col-sm-2 col-form-label">Crop ID:</label>
                <div class="col-sm-9">
                    <select name="crop_id" id="crop">
                        {% for crop in crops %}
                        <option value="{{crop.id}}">{{crop.name}}</option>
                        {% endfor %}1
                    </select>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="area" class="col-sm-2 col-form-label">Size:</label>
                <div class="col-sm-9">
                    <input type="text" id="size" name="size" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="location" class="col-sm-2 col-form-label">Soil Type:</label>
                <div class="col-sm-9">
                    <input type="text" id="soil_type" name="soil_type" class="form-control">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 text-center">
                    <input type="submit" value="Submit" class="btn btn-success">
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
</body>
</html>