<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- display all crop fields in table from app.py -->
    <table>
        <tr>
            <th>Crop ID</th>
            <th>Crop Name</th>
            <th>Crop Size</th>
            <th>Crop Crop</th>
        </tr>
        {% for crop in crops %}
        <tr>
            <td>{{ crop.id }}</td>
            <td>{{ crop.name }}</td>
            <td>{{ crop.type }}</td>
            <td>{{ crop.weather_condition }}</td>
        </tr>
        {% endfor %}

        <br>
    <!-- to add new crop details -->
    <form action="/crops/create" method="post">
        <label for="name">Crop Name:</label>
        <input type="text" id="name" name="name">
        <br>
        <label for="type">Crop Type:</label>
        <input type="text" id="type" name="type">
        <br>
        <label for="weather_condition">Weather Condition:</label>
        <input type="text" id="weather_condition" name="weather_condition">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>