<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/profile.css')}}">
    
    <title>Farmers by Crop</title>
</head>
<body>
    <h3>Farmers Growing {{ crop.name }}</h3>
    <div class="container">
        {% if farmers %}
    <table class="cssdoodler-table">
        <tr>
            <th>Farmer Name</th>
            <th>Field Size</th>
            <th>Soil Type</th>
        </tr>
        {% for farmer, field, crop in farmers %}
        <tr>
            <td>{{ farmer.name }}</td>
            <td>{{ field.size }}</td>
            <td>{{ field.soil_type }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No farmers are currently growing {{ crop.name }}</p>
    {% endif %}
    </div>
</body>
</html>
