<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- display all fields in table from app.py -->
    <table>
        <tr>
            <th>Field ID</th>
            <th>Field ID</th>
            <th>Field Crop</th>
            <th>Field Size</th>
            <th>Field Soil Type</th>
        </tr>
        {% for field in fields %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ field.farmer_id }}</td>
            <td>{{ field.crop_id }}</td>
            <td>{{ field.size }}</td>
            <td>{{ field.soil_type }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/fields/create" method="post">
        <label for="farmer_id">Farmer ID:</label>
        <input type="text" id="farmer_id" name="farmer_id">
        <br>
        <label for="crop_id">Crop ID:</label>
        <input type="text" id="crop_id" name="crop_id">
        <br>
        <label for="size">Field Size:</label>
        <input type="text" id="size" name="size">
        <br>
        <label for="soil_type">Soil Type:</label>
        <input type="text" id="soil_type" name="soil_type">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>