<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
    <title>Document</title>
</head>
<body>
    <h3>Field Details</h3>
    <!-- display all fields in table from app.py -->
    <table class="cssdoodler-table">
        <tr>
            <th>ID</th>
            <th>Farmer</th>
            <th>Crop</th>
            <th>Size</th>
            <th>Soil Type</th>
        </tr>
        {% for field,crop,farmer in fields %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ farmer.name }}</td>
            <td>{{ crop.name }}</td>
            <td>{{ field.size }}</td>
            <td>{{ field.soil_type }}</td>
            <td><a href="/field/edit/{{field.id}}" class="btn btn-success">View</a></td>
            <!-- delete button -->
            <td>
                <form action="/field/delete/{{field.id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/field/create">Click here for Adding Field Details</a>
    <!-- <a href="/field/edit-field">Click here for Editing Field Details</a> -->
</body>
</html>