<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
    <title>Document</title>
</head>
<body>
    <h3>Field Details</h3>
    <!-- display all fields in table from app.py -->
    <table class="cssdoodler-table">
        <tr>
            <th>ID</th>
            <th>Farmer</th>
            <th>Crop</th>
            <th>Size</th>
            <th>Soil Type</th>
        </tr>
        {% for field,crop,farmer in fields %}
        <tr>
            <td>{{ field.id }}</td>
            <td>{{ farmer.name }}</td>
            <td>{{ crop.name }}</td>
            <td>{{ field.size }}</td>
            <td>{{ field.soil_type }}</td>
            <td><a href="/field/edit/{{field.id}}" class="btn btn-warning">View</a></td>
            <!-- delete button -->
            <td>
                <form action="/field/delete/{{field.id}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="/field/create" class="button-17">Click here for Adding Field Details</a>
    <!-- <a href="/field/edit-field">Click here for Editing Field Details</a> -->
</body>
</html>