<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/crops">Crops</a>
    <br>
    <a href="/farmers">Farmers</a>
    <br>
    <a href="/harvests">Harvest</a>
    <br>
    <a href="/fields">Field</a>
    <br>
    <a href="/markets">Market</a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrosphere</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <!-- a div on top wrapper -->
    <div class="top">
        <h1>Agrosphere</h1>
        <p>Agrosphere is a platform that provides farmers with the necessary information to improve their crop yield and make better decisions.</p>
        <div class="buttons">
            {% if current_user.is_authenticated %}
                <p style="position: relative; top:0.6rem;">Welcome, {{ current_user.name }}</p>
                <a href="/logout" class="button">Logout</a>
            {% else %}
                <a href="./login" class="button">Login</a>
                <a href="./register" class="button">Signup</a>
            {% endif %}
        </div>
    </div>
    
    <div class="wrapper">

        <div class="cols">
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/crop.jpg)">
                        <div class="inner">
                            <p>Crops Details</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Crop details include essential information such as crop type, planting season, growth conditions, and potential yield.</p>
                            <a href="/crops" class="link">Crops</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/farmer.jpg)">
                        <div class="inner">
                            <p>Farmers Details</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Farmers details encompass crucial data about farmers, including their contact information, land size, cultivation practices, and crop preferences.</p>
                            <a href="/farmers" class="link">Farmers</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/field.jpg)">
                        <div class="inner">
                            <p>Fields Details</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Field details encompass comprehensive information about agricultural land, including soil composition, topography, irrigation systems, and historical crop rotation</p>
                            <a href="/fields" class="link">Field </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/harvest.jpg)">
                        <div class="inner">
                            <p>Harvests and Yield</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Harvest and yield statistics provide insights into the quantity and quality of crops harvested, helping assess productivity, plan future cultivation, and optimize agricultural practices</p>
                            <a href="/harvests" class="link">Harvests</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" ontouchstart="this.classList.toggle('hover');">
                <div class="container">
                    <div class="front" style="background-image: url(../static/images/Market.jpg)">
                        <div class="inner">
                            <p>Market Place</p>
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Market places serve as hubs for agricultural transactions, connecting farmers with buyers, wholesalers, and retailers, facilitating the exchange of crops, livestock, and agricultural products.</p>
                            <a href="/markets" class="link">Market</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</body>

</html>