<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/table.css')}}">
    <title>Marketplace</title>
</head>
<body>
    <h3>Market Details</h3>
    <!-- display all market in table from app.py -->
    <table class="cssdoodler-table">
        <tr>
            <th>Market ID</th>
            <th>Farmer Name </th>
            <th>Crop</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
        {% for market,crop,farmer in markets %}
        <tr>
            <td>{{ market.id }}</td>
            <td>{{ farmer.name }}</td>
            <td>{{ crop.name }}</td>
            <td>{{ market.price }}</td>
            <td>{{ market.quantity }}</td>
            <td><a href="/market/edit/{{market.id}}" class="btn btn-warning">Edit</a></td>
            {% if current_user.role == 'admin' %}
            <td>
                <form id="deleteFarmerForm" method="POST" action="/market/delete/{{market.id}}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            {% endif %}
            
        </tr>
        {% endfor %}
    </table>
    <a href="/market/create" class="button-17">For adding new market</a>
    
</body>
</html>