<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../static/css/register.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <title>Register</title>

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Sign Up</h2>
    <form action="/register" method="post">
      <input type="text" name="email" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="text" name="name" placeholder="Name">
      <button type="submit" value="register">submit</button>
  </form>
  </div>
</div>
<!-- partial -->
  <script src='https://codepen.io/banik/pen/ReNNrO/3f837b2f0085b5125112fc455941ea94.js'></script>
</body>
</html>
