<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Farmer</h1>
    <form action="/register" method="post">
        <!-- add email password name -->
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="text" name="name" placeholder="Name">
        <input type="submit" value="Register">
        
    </form>
</body>
</html>